/* ----------------------------------------------{ Desktop View} */

@media (max-width: 1580px) {
    body {
      background-color: green;
      color: salmon;
    }
    .deskTopNavBar{
        border: solid purple;
        height: 10vh ;
        display: flex;
    }
    .heartBag{
        border: solid violet;
        display: flex;
        height: 6vh;
        margin-top: 1.5%;
        margin-left: .5%;
        justify-content: space-around;
    }
    .searchBar{
        margin-left: 5%;
    }
    .Searchsize{
        border: solid black;
        height: 7vh;
        margin-top: 1.5%;
        
    }
    .QuickSearch{
        border: solid silver;
        width: 35%;
        display: flex;
        justify-content: space-between;
        margin-left: 15%;
        padding-top: 2.5%;
        font-size: 3.5vh;
        
    }
    .Jordanimage{
        border: solid orangered;
        height: 10vh;
    }
    .desktopContainer{
        border: solid red;
        height: 6vh;
        display: flex;
    }
    .navBarCOntainer{
        border: solid green;
        height: 10vh;
        display: flex;
        display: none;
    }
    .logoContainer img{
        border: solid yellow;
        height: 10vh;
    }
    .icons{
        border: solid blue;
        margin-left: 40%;
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
    .icons img{
        height: 7vh;
        padding-top: 25%;
        }
    .JordanConverse{
        border: solid gold;
        height: 6vh;
        display: flex;
    }
    .desktopOptions{
        border: solid salmon;
        margin-left: 50%;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    



    /* ----------------------------------------------{ Mid View - Ipad / Tablet} */
 
    @media (max-width: 980px) {
    body {
      background-color: blue;
      color: peru;
    }
    .deskTopNavBar{
        border: solid purple;
        height: 10vh ;
        display: flex;
    }
    .heartBag{
        border: solid violet;
        display: flex;
        height: 6vh;
        margin-top: 1.5%;
        margin-left: .5%;
        justify-content: space-around;
    }
    .searchBar{
        margin-left: 5%;
    }
    .Searchsize{
        border: solid black;
        height: 7vh;
        margin-top: 1.5%;
        
    }
    .QuickSearch{
        border: solid silver;
        width: 35%;
        display: flex;
        justify-content: space-between;
        margin-left: 15%;
        padding-top: 2.5%;
        font-size: 3.5vh;
        
    }
    .Jordanimage{
        border: solid orangered;
        height: 10vh;
    }
    .desktopContainer{
        border: solid red;
        height: 6vh;
        display: flex;
    }
    .navBarCOntainer{
        border: solid green;
        height: 10vh;
        display: flex;
        display: none;
    }
    .logoContainer img{
        border: solid yellow;
        height: 10vh;
    }
    .icons{
        border: solid blue;
        margin-left: 40%;
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
    .icons img{
        height: 7vh;
        padding-top: 25%;
        }
    .JordanConverse{
        border: solid gold;
        height: 6vh;
        display: flex;
    }
    .desktopOptions{
        border: solid salmon;
        margin-left: 50%;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    


    /* ----------------------------------------------{ Mobile View} */

    @media (max-width: 580px) {
        body {
          background-color: black;
          color: lemonchiffon;
        }
        .deskTopNavBar{
            border: solid purple;
            height: 10vh ;
            display: flex;
            display: none;
        }
        .heartBag{
            border: solid violet;
            display: flex;
            height: 6vh;
            margin-top: 1.5%;
            margin-left: .5%;
            justify-content: space-around;
            display: none;
        }
        .searchBar{
            margin-left: 5%;
            display: none;
        }
        .Searchsize{
            border: solid black;
            height: 7vh;
            margin-top: 1.5%;
            display: none;
            
        }
        .QuickSearch{
            border: solid silver;
            width: 35%;
            display: flex;
            justify-content: space-between;
            margin-left: 15%;
            padding-top: 2.5%;
            font-size: 3.5vh;
            display: none;
        }
        .Jordanimage{
            border: solid orangered;
            height: 10vh;
            display: none;
        }

        .JordanConverse{
            border: solid gold;
            height: 6vh;
            display: flex;
            display: none;
        }
        .desktopContainer{
            border: solid red;
            height: 6vh;
            display: flex;
            display: none;
        }
        .desktopOptions{
            border: solid salmon;
            margin-left: 50%;
            display: flex;
            justify-content: space-between;
            width: 50%;
            display: none;
        }
        .navBarCOntainer{
            border: solid green;
            height: 10vh;
            display: flex;
            }
            .logoContainer img{
                border: solid yellow;
                height: 10vh;
            }
            
            .icons{
                border: solid blue;
                margin-left: 40%;
                display: flex;
                justify-content: space-between;
                width: 40%;
            }
            .icons img{
                height: 7vh;
                padding-top: 25%;
                
            }




    /* -------------------------------------------------------------------------------------------General CSS*/


           