/* ----------------------------------------------{ Desktop View} */

@media (max-width: 1580px) {
    body {
      background-color: white;
      color: black;
    }
    .deskTopNavBar{
       
        height: 10vh ;
        display: flex;
    }
    .heartBag{
        
        display: flex;
        height: 6vh;
        margin-top: 1.5%;
        margin-left: .5%;
        justify-content: space-around;
    }
    .searchBar{
        margin-left: 5%;
    }
    .Searchsize{
        
        height: 7vh;
        margin-top: 1.5%;
        
    }
    .QuickSearch{
        
        width: 35%;
        display: flex;
        justify-content: space-between;
        margin-left: 15%;
        padding-top: 2.5%;
        font-size: 3.5vh;
        
    }
    .Jordanimage{
        
        height: 10vh;
    }
    .desktopContainer{
       
        height: 6vh;
        display: flex;
    }
    .navBarCOntainer{
        
        height: 10vh;
        display: flex;
        display: none;
    }
    .logoContainer img{
        
        height: 10vh;
    }
    .icons{
        
        margin-left: 40%;
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
    .icons img{
        height: 7vh;
        padding-top: 25%;
        }
    .JordanConverse{
        
        height: 6vh;
        display: flex;
    }
    .desktopOptions{
        
        margin-left: 50%;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    



    /* ----------------------------------------------{ Mid View - Ipad / Tablet} */
 
    @media (max-width: 980px) {
    body {
      background-color: white;
      color: black;
    }
    .deskTopNavBar{
        
        height: 10vh ;
        display: flex;
    }
    .heartBag{
        
        display: flex;
        height: 6vh;
        margin-top: 1.5%;
        margin-left: .5%;
        justify-content: space-around;
    }
    .searchBar{
        margin-left: 5%;
    }
    .Searchsize{
        
        height: 7vh;
        margin-top: 1.5%;
        
    }
    .QuickSearch{
       
        width: 35%;
        display: flex;
        justify-content: space-between;
        margin-left: 15%;
        padding-top: 2.5%;
        font-size: 3.5vh;
        
    }
    .Jordanimage{
       
        height: 10vh;
    }
    .desktopContainer{
       
        height: 6vh;
        display: flex;
    }
    .navBarCOntainer{
        
        height: 10vh;
        display: flex;
        display: none;
    }
    .logoContainer img{
        
        height: 10vh;
    }
    .icons{
        
        margin-left: 40%;
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
    .icons img{
        height: 7vh;
        padding-top: 25%;
        }
    .JordanConverse{
        
        height: 6vh;
        display: flex;
    }
    .desktopOptions{
        
        margin-left: 50%;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    


    /* ----------------------------------------------{ Mobile View} */

    @media (max-width: 580px) {
        body {
          background-color: white;
          color: black;
        }
        .deskTopNavBar{
            
            height: 10vh ;
            display: flex;
            display: none;
        }
        .heartBag{
           
            display: flex;
            height: 6vh;
            margin-top: 1.5%;
            margin-left: .5%;
            justify-content: space-around;
            display: none;
        }
        .searchBar{
            margin-left: 5%;
            display: none;
        }
        .Searchsize{
           
            height: 7vh;
            margin-top: 1.5%;
            display: none;
            
        }
        .QuickSearch{
           
            width: 35%;
            display: flex;
            justify-content: space-between;
            margin-left: 15%;
            padding-top: 2.5%;
            font-size: 3.5vh;
            display: none;
        }
        .Jordanimage{
           
            height: 10vh;
            display: none;
        }

        .JordanConverse{
           
            height: 6vh;
            display: flex;
            display: none;
        }
        .desktopContainer{
           
            height: 6vh;
            display: flex;
            display: none;
        }
        .desktopOptions{
           
            margin-left: 50%;
            display: flex;
            justify-content: space-between;
            width: 50%;
            display: none;
        }
        .navBarCOntainer{
           
            height: 10vh;
            display: flex;
            }
            .logoContainer img{
               
                height: 10vh;
            }
            
            .icons{
               
                margin-left: 40%;
                display: flex;
                justify-content: space-between;
                width: 40%;
            }
            .icons img{
                height: 7vh;
                padding-top: 25%;
                
            }




    /* -------------------------------------------------------------------------------------------General CSS*/


           